In [2]:
import numpy as np
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['M','N','O','P'])

In [5]:
df

          M         N         O         P
A  1.109138 -0.686637 -0.555746 -0.598337
B -0.150498 -0.804993 -0.253061 -0.186199
C -1.041278  1.381112  1.403166  0.028070
D -0.226023 -1.110432  0.632413  0.470533
E -0.042077 -0.507841 -1.215038 -0.341605

In [7]:
df['M']['A']

1.1091382912877592

In [8]:
df['New'] = df['M'] + df['N']

In [9]:
df

          M         N         O         P       New
A  1.109138 -0.686637 -0.555746 -0.598337  0.422501
B -0.150498 -0.804993 -0.253061 -0.186199 -0.955491
C -1.041278  1.381112  1.403166  0.028070  0.339833
D -0.226023 -1.110432  0.632413  0.470533 -1.336455
E -0.042077 -0.507841 -1.215038 -0.341605 -0.549917

In [10]:
df.drop('New',axis = 1)

          M         N         O         P
A  1.109138 -0.686637 -0.555746 -0.598337
B -0.150498 -0.804993 -0.253061 -0.186199
C -1.041278  1.381112  1.403166  0.028070
D -0.226023 -1.110432  0.632413  0.470533
E -0.042077 -0.507841 -1.215038 -0.341605

In [11]:
df

          M         N         O         P       New
A  1.109138 -0.686637 -0.555746 -0.598337  0.422501
B -0.150498 -0.804993 -0.253061 -0.186199 -0.955491
C -1.041278  1.381112  1.403166  0.028070  0.339833
D -0.226023 -1.110432  0.632413  0.470533 -1.336455
E -0.042077 -0.507841 -1.215038 -0.341605 -0.549917

In [11]:
df.drop('New',axis = 1,inplace = True)

In [12]:
df

          M         N         O         P
A  0.106271 -0.215265  0.395914 -1.392161
B -0.056884 -0.024219  0.071004 -0.539843
C  0.681827  0.548531 -0.151489  1.374905
D  0.444335 -1.396805 -0.535331 -0.385515
E -0.057954 -0.200984 -0.558812 -0.892194

In [13]:
df.drop('E',axis = 0,inplace = True)

In [14]:
df

          M         N         O         P
A  0.106271 -0.215265  0.395914 -1.392161
B -0.056884 -0.024219  0.071004 -0.539843
C  0.681827  0.548531 -0.151489  1.374905
D  0.444335 -1.396805 -0.535331 -0.385515

In [15]:
df.loc['C']

M    0.681827
N    0.548531
O   -0.151489
P    1.374905
Name: C, dtype: float64

In [16]:
df.iloc[2]

M    0.681827
N    0.548531
O   -0.151489
P    1.374905
Name: C, dtype: float64

In [17]:
df['O']['B']

0.07100415441245636

In [22]:
df.loc['B','O']

0.07100415441245636

In [23]:
df.iloc[1,2]

0.07100415441245636

In [24]:
df.loc[['A','B'], ['M','O']]

          M         O
A  0.106271  0.395914
B -0.056884  0.071004

In [25]:
type(df)

pandas.core.frame.DataFrame

In [12]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [13]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [14]:
inside

[1, 2, 3, 1, 2, 3]

In [15]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])

In [17]:
df

             A         B
G1 1 -0.439504  0.156003
   2 -0.889942 -0.427069
   3  1.071323  2.863893
G2 1  0.109472  1.290173
   2  1.112075  0.105683
   3 -0.562474 -1.264370

In [18]:
df.loc['G1']

          A         B
1 -0.439504  0.156003
2 -0.889942 -0.427069
3  1.071323  2.863893

In [20]:
df.loc['G1'].loc[1]

A   -0.439504
B    0.156003
Name: 1, dtype: float64