In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
dic = {'a':10,'b':20,'c':30}

In [4]:
labels

['a', 'b', 'c']

In [5]:
my_data

[10, 20, 30]

In [6]:
arr

array([10, 20, 30])

In [7]:
arr.type()

AttributeError: 'numpy.ndarray' object has no attribute 'type'

In [8]:
type(arr)

numpy.ndarray

In [9]:
dic

{'a': 10, 'b': 20, 'c': 30}

In [11]:
ser = pd.Series(my_data,labels)

In [12]:
ser

a    10
b    20
c    30
dtype: int64

In [13]:
type(ser)

pandas.core.series.Series

In [14]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [15]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [16]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [24]:
ser1 = pd.Series([100,2,3,4],['USA','Germany','France','Japan'])

In [25]:
ser2 = pd.Series([1,2,56,5] ,['USA','Germany','France','India'])

In [26]:
ser3 = ser1 + ser2

In [27]:
ser3

France      59.0
Germany      4.0
India        NaN
Japan        NaN
USA        101.0
dtype: float64

In [21]:
ser3['France']

59.0

In [22]:
ser3 = ser1 + ser2

In [28]:
ser3

France      59.0
Germany      4.0
India        NaN
Japan        NaN
USA        101.0
dtype: float64

In [29]:
ser3['USA']

101.0

In [1]:
df > 0

NameError: name 'df' is not defined