In [1]:
import pandas as pd

In [2]:
#Series is an one dimensional labeled array

In [3]:
ser = pd.Series([1,2,3,4,5])

In [4]:
ser

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(ser)

pandas.core.series.Series

In [6]:
ser1  = pd.Series([1,2,3,4,5] ,index = ['a','b','c','d','e'])

In [7]:
ser1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
ser2 = pd.Series({'a':1,'b':2,'c':3})

In [9]:
ser2

a    1
b    2
c    3
dtype: int64

# Dataframe is 2-D labeled array

In [10]:
df = pd.DataFrame({'Name':['Anne','Bob','Matt'],'Marks':[80,70,90]})

In [11]:
df

   Name  Marks
0  Anne     80
1   Bob     70
2  Matt     90